/* General Reset */
body {
  margin: 0;
  font-family: "Playfair Display", sans-serif;
  background-color: darkslategrey;
}

/* Header Styling */
.header {
  display: flex;
  color: black;
  padding-left: 50px;
  justify-content: left;
}

/* Footer Styling */
.footer {
  position: absolute;
  left: 1110px;
  top: 385px;
  font-size: 25px;
  font-style: oblique;
  font-weight: 700;
  color: rgb(70, 75, 80);
}

/* Center Container Styling */
.center-container {
  display: flex;
  flex: 1;
  justify-content:center;
  align-items: center;
  gap: 2px;
  padding: 50px 100px;
  background: radial-gradient(circle, rgba(95, 95, 95, 0.1) 60%, rgba(0, 0, 0, 0.2) 120%);
  box-shadow: 0 0 20px 10px rgba(30, 54, 54, 0.6);
  border-radius: 20px;
}

/* Vertical Stack (Shared Styling) */
.vertical-stack,
.vertical-stack-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 20px;
  cursor: pointer;
  padding: 10px;
  line-height: 1;
  font-size: 1.5rem;
  height: 200px;
  color: rgba(17, 9, 5, 0.6);
}

.vertical-stack {
  flex-direction: column;  /* Set the flex direction to column */
  justify-content: center; /* Center the element vertically */
  align-items: center;     /* Center the element horizontally */
}

.vertical-stack-page {
  justify-content: center; /* Center the element vertically */
  align-items: center;     /* Center the element horizontally */
  position: relative;
  /* top: -23px; */
}

/* Bold Name Styling */
.bold-name,
.bold-name-select {
  font-size: 20px;
  color: white;
  font-weight: bold;
  padding-top: 0;
  position: relative;
}

/* Vertical Text Styling */
.vert-text {
  display: flex;
  flex-direction: column;
  font-size: 1.5rem; /* Default size */
  color: rgba(17, 9, 5, 0.6);
  /* transition: font-size 0.3s ease, transform 0.3s ease; */
}

.hidden-vert-text {
  display: none; /* Hide the text initially */
  text-align: center;
  transition: opacity 0.3s ease; /* Smooth transition for opacity */
}

.vertical-stack-page:hover .hidden-vert-text {
  display: inline-block;
  transition: opacity 0.3s ease; /* Smooth opacity transition */ 
}